.grid-wrapper {
    margin-top: 30px;
}

.grid-wrapper .entry-single {
    background: #fff;
    position: relative;
    margin-bottom: 10px;
}

.grid-wrapper .entry-single img {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width:768px) {
    .grid-wrapper {
        margin-top: 10px;
    }
}

@media only screen and (max-width:768px) {
    .grid-wrapper .col-6 {
        padding: 0 5px;
    }
}